@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573270701461'); /* IE9 */
  src: url('iconfont.eot?t=1573270701461#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ8AAsAAAAABiwAAAIyAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAosSgE2AiQDCAsGAAQgBYRtBzwbfAUR1Ysnsq8xNoZWD0LoZDpUkK1jC95GbgCY8JC/oFKogg0AAAAAEEG1Rvbs7iMqRPfvkRJWiCpCASs2PkJGqJQHUkAy+rY2ff01JkJ1rfPguywzvyFcCKPtMMEDKIOYq7vi4Zt9YbQGQEkMGXA5/f/KF8g8oFzGGDTWxDUAA0sD2xOjyEoo44axC1zCYwKNBsyJtWzvuHqFtSoQt/zV8+pzQUVhmXqhtuZgEc/VqE9PU8qz8Pvx5xj1JDWZVXP4yvolS9/ZOflO9SmfECKg4zXImEMhjtcmD2TBOFljshhhX5XBd1XlO8RerYL9dVZ5M+iDqeA794gACZR4vA4tozaSauMsXj16/OThb9FuM32eh1pq+lWVqEDw+lVR/+s3Bbz/iaGl6OemfkVX8APkPfuKrrTsqajyWndSN2plQqNGVNjb6cvYurNlQ72ec4qhoT9FVm+MLIw51GiygFr1FtFo1ubxJl1uy6I0YMZDgNDuDZJWb5G1e0cWxmfU6PUPtdojo9HJ8MImE+F5nbESbKH+g2+oN45TdFT5QjulirPKkPtDHn0EDtt9MZNjjzzHlnG2RxEDhqmDDDyHKREMTAEb2TqR4bnbmbo3bRvqlJaxEmxB/Qe+od74o0WXPv9CO6WKW5pqoj/k0U8ODrb2Pchc1/dqupdXxtkeiRhgmDqQgXmYEoGhfl7ARrbciPjwtLOHmb667fqG7gNKWRuWOYU9LTN/KVZf9dbThDAhNCkF') format('woff2'),
  url('iconfont.woff?t=1573270701461') format('woff'),
  url('iconfont.ttf?t=1573270701461') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573270701461#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-35_xiangxiajiantou:before {
  content: "\e615";
}

